*/*
*

!README.md

!Data
!Data/AnomaliesOfTheCommonwealth.esp

!Data/Meshes
!Data/Meshes/aotc
!Data/Meshes/aotc/**/*
!Data/Meshes/PreCombined
!Data/Meshes/PreCombined/**/*
!Data/Meshes/PreCombined/AnomaliesOfTheCommonwealth.esp
!Data/Meshes/PreCombined/AnomaliesOfTheCommonwealth.esp/**/*
!Data/PS4
!Data/PS4/Data
!Data/PS4/Data/Meshes
!Data/PS4/Data/Meshes/PreCombined
!Data/PS4/Data/Meshes/PreCombined/**/*

!Data/PS4
!Data/PS4/Data
!Data/PS4/Data/Meshes
!Data/PS4/Data/Meshes/PreCombined
!Data/PS4/Data/Meshes/PreCombined/AnomaliesOfTheCommonwealth.esp
!Data/PS4/Data/Meshes/PreCombined/AnomaliesOfTheCommonwealth.esp/**/*

!Data/Scripts
!Data/Scripts/*.pex
!Data/Scripts/Source
!Data/Scripts/Source/User
!Data/Scripts/Source/User/**/*.psc
!Data/Scripts/Source/User/Fragments
!Data/Scripts/Source/User/Fragments/TopicInfos
!Data/Scripts/Source/User/Fragments/TopicInfos/*.psc
!Data/Scripts/Source/User/Fragments/Quests
!Data/Scripts/Source/User/Fragments/Quests/*.psc

!Data/Sound
!Data/Sound/aotc
!Data/Sound/aotc/**/*
!Data/Sound/Voice
!Data/Sound/Voice/AnomaliesOfTheCommonwealth.esp
!Data/Sound/Voice/AnomaliesOfTheCommonwealth.esp/**/*

!Data/Textures
!Data/Textures/aotc
!Data/Textures/aotc/**/*

!Data/Vis
!Data/Vis/Fallout4.esm
!Data/Vis/Fallout4.esm/**/*
!Data/Vis/AnomaliesOfTheCommonwealth.esp
!Data/Vis/AnomaliesOfTheCommonwealth.esp/**/*

!Tools
!Tools/aotc
!Tools/aotc/**/*
