*/*
*
!Data
!Data/AnomaliesOfTheCommonwealth.esp

!Data/Meshes
!Data/Meshes/aotc
!Data/Meshes/aotc/**/*

!Data/Scripts
!Data/Scripts/Source
!Data/Scripts/Source/User
!Data/Scripts/Source/User/**/*.psc

